In [1]:
import pandas as pd
import numpy as np

In [2]:
wastewater= pd.read_csv("wastewater_magnitudes_final.csv")
wastewater.head()

         day  testing_day  case  num_shedding  wastewater_signal  ww_magnitude
0  10-Sep-23            1     0             0                1.0         4.179
1  11-Sep-23            1     0             0                0.0         0.000
2  12-Sep-23            0     0             0                NaN           NaN
3  13-Sep-23            1     0             0                0.0         0.000
4  14-Sep-23            0     0             0                NaN           NaN

In [3]:
samples = wastewater[wastewater['testing_day'] == 1]
samples = samples.reset_index().drop(columns='index')
samples.head()

         day  testing_day  case  num_shedding  wastewater_signal  ww_magnitude
0  10-Sep-23            1     0             0                1.0         4.179
1  11-Sep-23            1     0             0                0.0         0.000
2  13-Sep-23            1     0             0                0.0         0.000
3  17-Sep-23            1     0             0                0.0         0.000
4  18-Sep-23            1     0             0                0.0         0.000

In [4]:
samples.tail(20)

,day,testing_day,case,num_shedding,wastewater_signal,ww_magnitude
111,27-May-24,1,0,0,0.0,0.000
112,29-May-24,1,0,0,0.0,0.000
113,2-Jun-24,1,0,0,1.0,7.845
114,3-Jun-24,1,0,0,1.0,7.549
115,5-Jun-24,1,0,0,0.0,0.000
116,9-Jun-24,1,0,0,0.0,0.000
117,10-Jun-24,1,0,0,0.0,0.000
118,12-Jun-24,1,0,0,1.0,9.646
119,16-Jun-24,1,0,0,1.0,5.522
120,17-Jun-24,1,0,0,1.0,1.225
121,19-Jun-24,1,0,0,1.0,3.485
122,23-Jun-24,1,0,0,0.0,0.000
123,24-Jun-24,1,0,0,0.0,0.000
124,26-Jun-24,1,0,0,0.0,0.000
125,30-Jun-24,1,0,0,0.0,0.000
126,1-Jul-24,1,0,0,0.0,0.000
127,3-Jul-24,1,0,0,0.0,0.000
128,7-Jul-24,1,0,0,0.0,0.000
129,8-Jul-24,1,0,0,0.0,0.000
130,10-Jul-24,1,0,0,0.0,0.000

In [5]:
samples.iloc[-4:]

,day,testing_day,case,num_shedding,wastewater_signal,ww_magnitude
127,3-Jul-24,1,0,0,0.0,0.0
128,7-Jul-24,1,0,0,0.0,0.0
129,8-Jul-24,1,0,0,0.0,0.0
130,10-Jul-24,1,0,0,0.0,0.0

## Centered Moving Average

In [6]:
def centered_moving_average(df, col, num_avg):
    df[f'moving_avg_{num_avg}'] = df[col].rolling(window=num_avg, center=True).mean()
    def boundary_handler(df, col, num_avg):
        # Handle the first few boundary rows
        for i in range(num_avg // 2):
            # First few rows: progressively average from 1 to num_avg
            df.loc[i, f'moving_avg_{num_avg}'] = df[col].iloc[: num_avg//2 + i +1].mean()
            
            # Last few rows: progressively average fewer values from the end
            df.loc[(len(df)- i-1), f'moving_avg_{num_avg}'] = df[col].iloc[-(num_avg//2 + i + 1):].mean()

        return df
    return boundary_handler(df, col, num_avg)

In [7]:
samples = centered_moving_average(samples, "ww_magnitude", 3)
samples = centered_moving_average(samples, "ww_magnitude", 5)
samples = centered_moving_average(samples, "ww_magnitude", 7)

In [8]:
samples.head(10)

,day,testing_day,case,num_shedding,wastewater_signal,ww_magnitude,moving_avg_3,moving_avg_5,moving_avg_7
0,10-Sep-23,1,0,0,1.0,4.179,2.089500,1.39300,1.044750
1,11-Sep-23,1,0,0,0.0,0.000,1.393000,1.04475,0.835800
2,13-Sep-23,1,0,0,0.0,0.000,0.000000,0.83580,0.696500
3,17-Sep-23,1,0,0,0.0,0.000,0.000000,0.00000,0.597000
4,18-Sep-23,1,0,0,0.0,0.000,0.000000,0.00000,2.367143
5,20-Sep-23,1,0,0,0.0,0.000,0.000000,3.31400,2.367143
6,24-Sep-23,1,0,0,0.0,0.000,5.523333,3.31400,2.367143
7,25-Sep-23,1,0,0,1.0,16.570,5.523333,3.31400,2.367143
8,27-Sep-23,1,0,0,0.0,0.000,5.523333,3.31400,2.367143
9,1-Oct-23,1,0,0,0.0,0.000,0.000000,3.31400,2.367143

In [9]:
samples.tail(10)

,day,testing_day,case,num_shedding,wastewater_signal,ww_magnitude,moving_avg_3,moving_avg_5,moving_avg_7
121,19-Jun-24,1,0,0,1.0,3.485,1.570000,2.0464,2.839714
122,23-Jun-24,1,0,0,0.0,0.000,1.161667,0.9420,1.461714
123,24-Jun-24,1,0,0,0.0,0.000,0.000000,0.6970,0.672857
124,26-Jun-24,1,0,0,0.0,0.000,0.000000,0.0000,0.497857
125,30-Jun-24,1,0,0,0.0,0.000,0.000000,0.0000,0.000000
126,1-Jul-24,1,0,0,0.0,0.000,0.000000,0.0000,0.000000
127,3-Jul-24,1,0,0,0.0,0.000,0.000000,0.0000,0.000000
128,7-Jul-24,1,0,0,0.0,0.000,0.000000,0.0000,0.000000
129,8-Jul-24,1,0,0,0.0,0.000,0.000000,0.0000,0.000000
130,10-Jul-24,1,0,0,0.0,0.000,0.000000,0.0000,0.000000

## Key functions

In [10]:
# Functions for tp, fn, tn, fp with varying thresholds
def tp(threshold, data):
    df = data[(data['wastewater_signal'] == 1) & (data['num_shedding'] >= threshold)]
    return df.shape[0]

def fn(threshold, data):
    df = data[(data['wastewater_signal'] == 0) & (data['num_shedding'] >= threshold)]
    return df.shape[0]

def tn(threshold, data):
    df = data[(data['wastewater_signal'] == 0) & (data['num_shedding'] < threshold)]
    return df.shape[0]

def fp(threshold, data):
    df = data[(data['wastewater_signal'] == 1) & (data['num_shedding'] < threshold)]
    return df.shape[0]

In [11]:
# Sensitivity, PPV, NPV functions
def sensitivity(threshold, data):
    return (tp(threshold, data) / (tp(threshold, data) + fn(threshold, data)))

def ppv(threshold, data):
    return tp(threshold, data) / (tp(threshold, data) + fp(threshold, data))

def npv(threshold, data):
    return tn(threshold, data) / (tn(threshold, data) + fn(threshold, data))

## Evaluating Wastewater Signal

For each of the 3 methods

In [12]:
three_day_3 = samples[['day', 'testing_day', 'case', 'num_shedding', 'moving_avg_3']]
five_day_5 = samples[['day', 'testing_day', 'case', 'num_shedding', 'moving_avg_5']]
seven_day_7 = samples[['day', 'testing_day', 'case', 'num_shedding', 'moving_avg_7']]

### Three day average

In [13]:
# Three day average
three_day = three_day_3.copy()
three_day['wastewater_signal'] = (three_day['moving_avg_3'] >0).astype(int)
three_day

,day,testing_day,case,num_shedding,moving_avg_3,wastewater_signal
0,10-Sep-23,1,0,0,2.0895,1
1,11-Sep-23,1,0,0,1.3930,1
2,13-Sep-23,1,0,0,0.0000,0
3,17-Sep-23,1,0,0,0.0000,0
4,18-Sep-23,1,0,0,0.0000,0
...,...,...,...,...,...,...
126,1-Jul-24,1,0,0,0.0000,0
127,3-Jul-24,1,0,0,0.0000,0
128,7-Jul-24,1,0,0,0.0000,0
129,8-Jul-24,1,0,0,0.0000,0
130,10-Jul-24,1,0,0,0.0000,0

In [14]:
# True positives etc
tp_3 = tp(1, three_day)
fn_3 = fn(1, three_day)
fp_3 = fp(1, three_day)
tn_3 = tn(1, three_day)
print(f'true positives: {tp_3}, true negatives: {tn_3}, false positives: {fp_3}, false_negatives: {fn_3}')

true positives: 38, true negatives: 37, false positives: 42, false_negatives: 14

In [15]:
three_day['num_shedding'].max()

4

In [16]:
# Sensitivities
sensitivity_3_1 = sensitivity(1, three_day)
sensitivity_3_2  = sensitivity(2, three_day)
sensitivity_3_3 = sensitivity(3, three_day)
sensitivity_3_4 = sensitivity(4, three_day)
print(f'one individual: {sensitivity_3_1}\ntwo individuals: {sensitivity_3_2}\nthree individuals: {sensitivity_3_3}\nfour individuals: {sensitivity_3_4}')

one individual: 0.7307692307692307
two individuals: 0.8947368421052632
three individuals: 0.8888888888888888
four individuals: 1.0

In [326]:
# PPV
ppv_3 = ppv(1, three_day)
ppv_3

0.55

In [327]:
# NPV
npv_3 = npv(1, three_day)
npv_3

0.6666666666666666

In [328]:
three_day.head()

         day  testing_day  case  num_shedding  moving_avg_3  wastewater_signal
0  10-Sep-23          1.0   0.0           0.0        2.0895                  1
1  11-Sep-23          1.0   0.0           0.0        1.3930                  1
2  13-Sep-23          1.0   0.0           0.0        0.0000                  0
3  17-Sep-23          1.0   0.0           0.0        0.0000                  0
4  18-Sep-23          1.0   0.0           0.0        0.0000                  0

In [329]:
extra_cases.head()

         day  testing_day  case  num_shedding  wastewater_signal
0  10-Sep-23            1     0             0                1.0
1  11-Sep-23            1     0             0                0.0
2  13-Sep-23            1     0             0                0.0
3  17-Sep-23            1     0             0                0.0
4  18-Sep-23            1     0             0                0.0

In [330]:
# Replacing wastewater signal with three day's 
extra_cases['wastewater_signal'] = three_day['wastewater_signal']
extra_cases.head()

         day  testing_day  case  num_shedding  wastewater_signal
0  10-Sep-23            1     0             0                  1
1  11-Sep-23            1     0             0                  1
2  13-Sep-23            1     0             0                  0
3  17-Sep-23            1     0             0                  0
4  18-Sep-23            1     0             0                  0

In [331]:
# Sensitivity, PPV, NPV for identifying a single individual
sensitivity_3_cent_add = sensitivity(1, extra_cases)
ppv_3_cent_add = ppv(1, extra_cases)
npv_3_cent_add = npv(1, extra_cases)
print(f'sensitivity: {sensitivity_3_cent_add}, ppv: {ppv_3_cent_add}, npv: {npv_3_cent_add}')

sensitivity: 0.7209302325581395, ppv: 0.3875, npv: 0.7647058823529411

In [332]:
# Sensitivities
sensitivity_3_1_r = sensitivity(1, extra_cases)
sensitivity_3_2_r  = sensitivity(2, extra_cases)
sensitivity_3_3_r = sensitivity(3, extra_cases)
sensitivity_3_4_r = sensitivity(4, extra_cases)
print(f'one individual: {sensitivity_3_1_r}\ntwo individuals: {sensitivity_3_2_r}\nthree individuals: {sensitivity_3_3_r}\nfour individuals: {sensitivity_3_4_r}')

one individual: 0.7209302325581395
two individuals: 0.8947368421052632
three individuals: 0.8888888888888888
four individuals: 1.0

### Five day average

In [333]:
# Five day average
five_day = five_day_5.copy()
five_day['wastewater_signal'] = (five_day['moving_avg_5'] >0).astype(int)
five_day

,day,testing_day,case,num_shedding,moving_avg_5,wastewater_signal
0,10-Sep-23,1.0,0.0,0.0,1.39300,1
1,11-Sep-23,1.0,0.0,0.0,1.04475,1
2,13-Sep-23,1.0,0.0,0.0,0.83580,1
3,17-Sep-23,1.0,0.0,0.0,0.00000,0
4,18-Sep-23,1.0,0.0,0.0,0.00000,0
...,...,...,...,...,...,...
126,1-Jul-24,1.0,0.0,0.0,0.00000,0
127,3-Jul-24,1.0,0.0,0.0,0.00000,0
128,7-Jul-24,1.0,0.0,0.0,0.00000,0
129,8-Jul-24,1.0,0.0,0.0,0.00000,0
130,10-Jul-24,1.0,0.0,0.0,0.00000,0

In [334]:
# True positives etc
tp_5 = tp(1, five_day)
fn_5 = fn(1, five_day)
fp_5 = fp(1, five_day)
tn_5 = tn(1, five_day)
print(f'true positives: {tp_5}, true negatives: {tn_5}, false positives: {fp_5}, false_negatives: {fn_5}')

true positives: 49, true negatives: 22, false positives: 48, false_negatives: 12

In [335]:
# Sensitivities
sensitivity_5_1 = sensitivity(1, five_day)
sensitivity_5_2  = sensitivity(2, five_day)
sensitivity_5_3 = sensitivity(3, five_day)
sensitivity_5_4 = sensitivity(4, five_day)
print(f'one individual: {sensitivity_5_1}\ntwo individuals: {sensitivity_5_2}\nthree individuals: {sensitivity_5_3}\nfour individuals: {sensitivity_5_4}')

one individual: 0.8032786885245902
two individuals: 0.9473684210526315
three individuals: 0.9444444444444444
four individuals: 1.0

In [336]:
# PPV
ppv_5 = ppv(1, five_day)
ppv_5

0.5051546391752577

In [337]:
# NPV
npv_5 = npv(1, five_day)
npv_5

0.6470588235294118

In [338]:
# Replacing wastewater signal with three day's 
extra_cases['wastewater_signal'] = five_day['wastewater_signal']
extra_cases.head()

         day  testing_day  case  num_shedding  wastewater_signal
0  10-Sep-23            1     0             0                  1
1  11-Sep-23            1     0             0                  1
2  13-Sep-23            1     0             0                  1
3  17-Sep-23            1     0             0                  0
4  18-Sep-23            1     0             0                  0

In [339]:
# Sensitivity, PPV, NPV for identifying a single individual
sensitivity_5_cent_add = sensitivity(1, extra_cases)
ppv_5_cent_add = ppv(1, extra_cases)
npv_5_cent_add = npv(1, extra_cases)
print(f'sensitivity: {sensitivity_5_cent_add}, ppv: {ppv_5_cent_add}, npv: {npv_5_cent_add}')

sensitivity: 0.7674418604651163, ppv: 0.3402061855670103, npv: 0.7058823529411765

In [340]:
# Sensitivities
sensitivity_5_1_r = sensitivity(1, extra_cases)
sensitivity_5_2_r  = sensitivity(2, extra_cases)
sensitivity_5_3_r = sensitivity(3, extra_cases)
sensitivity_5_4_r = sensitivity(4, extra_cases)
print(f'one individual: {sensitivity_5_1_r}\ntwo individuals: {sensitivity_5_2_r}\nthree individuals: {sensitivity_5_3_r}\nfour individuals: {sensitivity_5_4_r}')

one individual: 0.7674418604651163
two individuals: 0.9473684210526315
three individuals: 0.9444444444444444
four individuals: 1.0

### Seven day average

In [341]:
# sevenday average
seven_day = seven_day_7.copy()
seven_day['wastewater_signal'] = (seven_day['moving_avg_7'] >0).astype(int)
seven_day

,day,testing_day,case,num_shedding,moving_avg_7,wastewater_signal
0,10-Sep-23,1.0,0.0,0.0,1.044750,1
1,11-Sep-23,1.0,0.0,0.0,0.835800,1
2,13-Sep-23,1.0,0.0,0.0,0.696500,1
3,17-Sep-23,1.0,0.0,0.0,0.597000,1
4,18-Sep-23,1.0,0.0,0.0,2.367143,1
...,...,...,...,...,...,...
126,1-Jul-24,1.0,0.0,0.0,0.000000,0
127,3-Jul-24,1.0,0.0,0.0,0.000000,0
128,7-Jul-24,1.0,0.0,0.0,0.000000,0
129,8-Jul-24,1.0,0.0,0.0,0.000000,0
130,10-Jul-24,1.0,0.0,0.0,0.000000,0

In [342]:
# True positives etc
tp_7 = tp(1, seven_day)
fn_7 = fn(1, seven_day)
fp_7 = fp(1, seven_day)
tn_7 = tn(1, seven_day)
print(f'true positives: {tp_7}, true negatives: {tn_7}, false positives: {fp_7}, false_negatives: {fn_7}')

true positives: 53, true negatives: 15, false positives: 55, false_negatives: 8

In [343]:
# Sensitivities
sensitivity_7_1 = sensitivity(1, seven_day)
sensitivity_7_2  = sensitivity(2, seven_day)
sensitivity_7_3 = sensitivity(3, seven_day)
sensitivity_7_4 = sensitivity(4, seven_day)
print(f'one individual: {sensitivity_7_1}\ntwo individuals: {sensitivity_7_2}\nthree individuals: {sensitivity_7_3}\nfour individuals: {sensitivity_7_4}')

one individual: 0.8688524590163934
two individuals: 1.0
three individuals: 1.0
four individuals: 1.0

In [344]:
# PPV
ppv_7 = ppv(1, seven_day)
ppv_7

0.49074074074074076

In [345]:
# NPV
npv_7 = npv(1, seven_day)
npv_7

0.6521739130434783

In [346]:
# Replacing wastewater signal with seven day's 
extra_cases['wastewater_signal'] = seven_day['wastewater_signal']
extra_cases.head()

         day  testing_day  case  num_shedding  wastewater_signal
0  10-Sep-23            1     0             0                  1
1  11-Sep-23            1     0             0                  1
2  13-Sep-23            1     0             0                  1
3  17-Sep-23            1     0             0                  1
4  18-Sep-23            1     0             0                  1

In [347]:
# Sensitivity, PPV, NPV for identifying a single individual
sensitivity_7_cent_add = sensitivity(1, extra_cases)
ppv_7_cent_add = ppv(1, extra_cases)
npv_7_cent_add = npv(1, extra_cases)
print(f'sensitivity: {sensitivity_7_cent_add}, ppv: {ppv_7_cent_add}, npv: {npv_7_cent_add}')

sensitivity: 0.813953488372093, ppv: 0.32407407407407407, npv: 0.6521739130434783

In [348]:
# Sensitivities
sensitivity_7_1_r = sensitivity(1, extra_cases)
sensitivity_7_2_r  = sensitivity(2, extra_cases)
sensitivity_7_3_r = sensitivity(3, extra_cases)
sensitivity_7_4_r = sensitivity(4, extra_cases)
print(f'one individual: {sensitivity_7_1_r}\ntwo individuals: {sensitivity_7_2_r}\nthree individuals: {sensitivity_7_3_r}\nfour individuals: {sensitivity_7_4_r}')

one individual: 0.813953488372093
two individuals: 1.0
three individuals: 1.0
four individuals: 1.0

## Non-centered moving average

In [349]:
def rolling_average(df, col, num_avg):
    rolling_avg = df[col].rolling(window=num_avg, min_periods=1).mean()
    return rolling_avg

### Three day

In [350]:
three_day['nc_3'] = rolling_average(samples, "ww_magnitude", 3)
three_day['wastewater_signal_centered'] = three_day['wastewater_signal']
three_day.drop(columns='wastewater_signal')
three_day['wastewater_signal'] = (three_day['nc_3'] > 0).astype(int)
three_day.head()

,day,testing_day,case,num_shedding,moving_avg_3,wastewater_signal,nc_3,wastewater_signal_centered
0,10-Sep-23,1.0,0.0,0.0,2.0895,1,4.1790,1
1,11-Sep-23,1.0,0.0,0.0,1.3930,1,2.0895,1
2,13-Sep-23,1.0,0.0,0.0,0.0000,1,1.3930,0
3,17-Sep-23,1.0,0.0,0.0,0.0000,0,0.0000,0
4,18-Sep-23,1.0,0.0,0.0,0.0000,0,0.0000,0

In [351]:
# True positives etc
tp_3_nc = tp(1, three_day)
fn_3_nc = fn(1, three_day)
fp_3_nc = fp(1, three_day)
tn_3_nc = tn(1, three_day)
print(f'true positives: {tp_3_nc}, true negatives: {tn_3_nc}, false positives: {fp_3_nc}, false_negatives: {fn_3_nc}')

true positives: 42, true negatives: 31, false positives: 39, false_negatives: 19

In [352]:
# Sensitivities
sensitivity_3_1_nc = sensitivity(1, three_day)
sensitivity_3_2_nc  = sensitivity(2, three_day)
sensitivity_3_3_nc = sensitivity(3, three_day)
sensitivity_3_4_nc = sensitivity(4, three_day)
print(f'one individual: {sensitivity_3_1_nc}\ntwo individuals: {sensitivity_3_2_nc}\nthree individuals: {sensitivity_3_3_nc}\nfour individuals: {sensitivity_3_4_nc}')

one individual: 0.6885245901639344
two individuals: 0.8421052631578947
three individuals: 0.8333333333333334
four individuals: 0.9166666666666666

In [353]:
# PPV
ppv_3_nc = ppv(1, three_day)
ppv_3_nc

0.5185185185185185

In [354]:
# NPV
npv_3_nc = npv(1, three_day)
npv_3_nc

0.62

In [355]:
# Replacing wastewater signal with three day's 
extra_cases['wastewater_signal'] = three_day['wastewater_signal']
# Sensitivity, PPV, NPV for identifying a single individual
sensitivity_3_roll_add = sensitivity(1, extra_cases)
ppv_3_roll_add = ppv(1, extra_cases)
npv_3_roll_add = npv(1, extra_cases)
print(f'sensitivity: {sensitivity_3_roll_add}, ppv: {ppv_3_roll_add}, npv: {npv_3_roll_add}')

sensitivity: 0.6744186046511628, ppv: 0.35802469135802467, npv: 0.72

In [356]:
# Sensitivities
sensitivity_3_1_r = sensitivity(1, extra_cases)
sensitivity_3_2_r  = sensitivity(2, extra_cases)
sensitivity_3_3_r = sensitivity(3, extra_cases)
sensitivity_3_4_r = sensitivity(4, extra_cases)
print(f'one individual: {sensitivity_3_1_r}\ntwo individuals: {sensitivity_3_2_r}\nthree individuals: {sensitivity_3_3_r}\nfour individuals: {sensitivity_3_4_r}')

one individual: 0.6744186046511628
two individuals: 0.8421052631578947
three individuals: 0.8333333333333334
four individuals: 0.9166666666666666

### Five day

In [357]:
five_day['nc_5'] = rolling_average(samples, "ww_magnitude", 5)
five_day['wastewater_signal_centered'] = five_day['wastewater_signal']
five_day.drop(columns='wastewater_signal')
five_day['wastewater_signal'] = (five_day['nc_5'] > 0).astype(int)
five_day.head(10)

,day,testing_day,case,num_shedding,moving_avg_5,wastewater_signal,nc_5,wastewater_signal_centered
0,10-Sep-23,1.0,0.0,0.0,1.39300,1,4.17900,1
1,11-Sep-23,1.0,0.0,0.0,1.04475,1,2.08950,1
2,13-Sep-23,1.0,0.0,0.0,0.83580,1,1.39300,1
3,17-Sep-23,1.0,0.0,0.0,0.00000,1,1.04475,0
4,18-Sep-23,1.0,0.0,0.0,0.00000,1,0.83580,0
5,20-Sep-23,1.0,0.0,0.0,3.31400,0,0.00000,1
6,24-Sep-23,1.0,0.0,0.0,3.31400,0,0.00000,1
7,25-Sep-23,1.0,0.0,0.0,3.31400,1,3.31400,1
8,27-Sep-23,1.0,0.0,0.0,3.31400,1,3.31400,1
9,1-Oct-23,1.0,0.0,0.0,3.31400,1,3.31400,1

In [358]:
# True positives etc
tp_5_nc = tp(1, five_day)
fn_5_nc = fn(1, five_day)
fp_5_nc = fp(1, five_day)
tn_5_nc = tn(1, five_day)
print(f'true positives: {tp_5_nc}, true negatives: {tn_5_nc}, false positives: {fp_5_nc}, false_negatives: {fn_5_nc}')

true positives: 44, true negatives: 15, false positives: 55, false_negatives: 17

In [359]:
# Sensitivities
sensitivity_5_1_nc = sensitivity(1, five_day)
sensitivity_5_2_nc  = sensitivity(2, five_day)
sensitivity_5_3_nc = sensitivity(3, five_day)
sensitivity_5_4_nc = sensitivity(4, five_day)
print(f'one individual: {sensitivity_5_1_nc}\ntwo individuals: {sensitivity_5_2_nc}\nthree individuals: {sensitivity_5_3_nc}\nfour individuals: {sensitivity_5_4_nc}')

one individual: 0.7213114754098361
two individuals: 0.8421052631578947
three individuals: 0.8333333333333334
four individuals: 0.9166666666666666

In [360]:
# PPV
ppv_5_nc = ppv(1, five_day)
ppv_5_nc

0.4444444444444444

In [361]:
# NPV
npv_5_nc = npv(1, five_day)
npv_5_nc

0.46875

In [362]:
# Replacing wastewater signal with five day's 
extra_cases['wastewater_signal'] = five_day['wastewater_signal']
# Sensitivity, PPV, NPV for identifying a single individual
sensitivity_5_roll_add = sensitivity(1, extra_cases)
ppv_5_roll_add = ppv(1, extra_cases)
npv_5_roll_add = npv(1, extra_cases)
print(f'sensitivity: {sensitivity_5_roll_add}, ppv: {ppv_5_roll_add}, npv: {npv_5_roll_add}')

sensitivity: 0.6744186046511628, ppv: 0.29292929292929293, npv: 0.5625

In [363]:
# Sensitivities
sensitivity_5_1_r = sensitivity(1, extra_cases)
sensitivity_5_2_r  = sensitivity(2, extra_cases)
sensitivity_5_3_r = sensitivity(3, extra_cases)
sensitivity_5_4_r = sensitivity(4, extra_cases)
print(f'one individual: {sensitivity_5_1_r}\ntwo individuals: {sensitivity_5_2_r}\nthree individuals: {sensitivity_5_3_r}\nfour individuals: {sensitivity_5_4_r}')

one individual: 0.6744186046511628
two individuals: 0.8421052631578947
three individuals: 0.8333333333333334
four individuals: 0.9166666666666666

### Seven day

In [364]:
seven_day['nc_7'] = rolling_average(samples, "ww_magnitude", 7)
seven_day['wastewater_signal_centered'] = seven_day['wastewater_signal']
seven_day.drop(columns='wastewater_signal')
seven_day['wastewater_signal'] = (seven_day['nc_7'] > 0).astype(int)
seven_day.head()

,day,testing_day,case,num_shedding,moving_avg_7,wastewater_signal,nc_7,wastewater_signal_centered
0,10-Sep-23,1.0,0.0,0.0,1.044750,1,4.17900,1
1,11-Sep-23,1.0,0.0,0.0,0.835800,1,2.08950,1
2,13-Sep-23,1.0,0.0,0.0,0.696500,1,1.39300,1
3,17-Sep-23,1.0,0.0,0.0,0.597000,1,1.04475,1
4,18-Sep-23,1.0,0.0,0.0,2.367143,1,0.83580,1

In [365]:
# True positives etc
tp_7 = tp(1, seven_day)
fn_7 = fn(1, seven_day)
fp_7 = fp(1, seven_day)
tn_7 = tn(1, seven_day)
print(f'true positives: {tp_7}, true negatives: {tn_7}, false positives: {fp_7}, false_negatives: {fn_7}')

true positives: 46, true negatives: 5, false positives: 65, false_negatives: 15

In [366]:
# Sensitivities
sensitivity_7_1_nc = sensitivity(1, seven_day)
sensitivity_7_2_nc  = sensitivity(2, seven_day)
sensitivity_7_3_nc = sensitivity(3, seven_day)
sensitivity_7_4_nc = sensitivity(4, seven_day)
print(f'one individual: {sensitivity_7_1_nc}\ntwo individuals: {sensitivity_7_2_nc}\nthree individuals: {sensitivity_7_3_nc}\nfour individuals: {sensitivity_7_4_nc}')

one individual: 0.7540983606557377
two individuals: 0.8421052631578947
three individuals: 0.8333333333333334
four individuals: 0.9166666666666666

In [367]:
# PPV
ppv_7_nc = ppv(1, seven_day)
ppv_7_nc

0.4144144144144144

In [368]:
# NPV
npv_7_nc = npv(1, seven_day)
npv_7_nc

0.25

In [369]:
# Replacing wastewater signal with seven day's 
extra_cases['wastewater_signal'] = seven_day['wastewater_signal']
# Sensitivity, PPV, NPV for identifying a single individual
sensitivity_7_roll_add = sensitivity(1, extra_cases)
ppv_7_roll_add = ppv(1, extra_cases)
npv_7_roll_add = npv(1, extra_cases)
print(f'sensitivity: {sensitivity_7_roll_add}, ppv: {ppv_7_roll_add}, npv: {npv_7_roll_add}')

sensitivity: 0.7209302325581395, ppv: 0.27927927927927926, npv: 0.4

In [370]:
# Sensitivities
sensitivity_7_1_r = sensitivity(1, extra_cases)
sensitivity_7_2_r  = sensitivity(2, extra_cases)
sensitivity_7_3_r = sensitivity(3, extra_cases)
sensitivity_7_4_r = sensitivity(4, extra_cases)
print(f'one individual: {sensitivity_7_1_r}\ntwo individuals: {sensitivity_7_2_r}\nthree individuals: {sensitivity_7_3_r}\nfour individuals: {sensitivity_7_4_r}')

one individual: 0.7209302325581395
two individuals: 0.8421052631578947
three individuals: 0.8333333333333334
four individuals: 0.9166666666666666